[package]
name = "dploy"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.86"
clap = { version = "4.5.7", features = ["derive"] }
console = "0.15.8"
serde = { version = "1.0.203", features = ["derive"] }
toml = "0.8.14"
